.content {
  padding: 0 1em;
  max-width: 60em;
  margin: 0 auto;
  
  .title {
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .btnContainer {
    display: flex;
    gap: 10vw;
    justify-content: center;
    padding: 2em;
    
    button {
      background: transparent;
      border: none;
      padding: 0 16px;
      height: 36px;
      place-items: center;
      font-weight: 500;
    }
  }
}
