.content {
  padding: 0 1em;
  
  .actions {
    display: flex;
    justify-content: space-between;
    place-items: center;
    position: sticky;
    background-color: var(--theme);
    top: 80px;
    z-index: 1;
  }
  
  .title {
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .btnContainer {
    display: flex;
    gap: 10vw;
    justify-content: center;
    padding: 2em;
    
    button {
      background: transparent;
      border: none;
      padding: 0 16px;
      height: 36px;
      display: flex;
      place-items: center;
      font-weight: 500;
    }
  }
}
