.content {
  padding: 0 1em;
  
  .actions {
    display: flex;
    paddig: 1em 0;
    justify-content: space-between;
    place-items: center;
    position: sticky;
    background-color: var(--theme);
    top: 80.33333587646484px;
    z-index: 1;
  }
  
  .title {
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .pokeContainer {
    display: grid;
    gap: 4em;
    place-items: center;
    margin-top: 4em;
    position: relative;
    
    @media(min-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
    
    .pokeItem {
      text-align: center;
      
      .bg {
        width: 12em;
        border: 1px solid #333;
        background-color: #f1f2f5;
        aspect-ratio: 1/1;
        position: absolute;
      }
    }
  }
  
  .btnContainer {
    display: flex;
    gap: 10em;
    justify-content: center;
    padding: 2em;
    
    button {
      background: none;
      border: 1px solid #333;
      padding: 0 16px;
      height: 36px;
      border-radius: 8px;
      font-weight: 500;
    }
  }
}
